.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.metadata
build/
*.iml
*.g.dart
*.freezed.dart
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
google-services.json
GoogleService-Info.plist
lib/firebase_options.dart
